extends layout

block content
  h1= title
  div
    table.table
      tbody
        tr
          th ID 
          th First name
          th Last name 
          th Email
          th Status
      tbody
        